/* Hero banner's title */
.hero-custom-title .hero-title {
  line-height: 57.6px;
  letter-spacing: -1.28px;
  margin: 0;
}

/* Product price & sku */
.compare_price {
  color: #ef4444;
  padding-right: 17px;
}

.compare-at-price {
  font-size: 20px;
  font-weight: 400;
}

.containerClass {
  display: flex;
}

/* Product title/sku */
.product-card-sku {
  font-size: 14px;
  font-weight: 600;
  color: #636363;
  padding-left: 24px;
  padding-top: 6px;
}

.product-title-with-sku {
  margin-bottom: 4px;
}
